@import url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
body {
  margin: 0;
  padding: 0;
}

.section1 {
  background: rgb(105, 67, 255);
  background: linear-gradient(180deg, rgb(105, 67, 255) 20%, rgb(47, 44, 233) 100%);
  border-radius: 15px;
  padding: 30px;
}

.section2 {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 30px;
}

.rectangle {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.attribution {
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
  color: black;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  padding: 100px;
  border-radius: 10px;
}

.background {
  background-color: #ECF2FF;
  height: 100vh;
}

.btn-continue {
  outline: solid 1px linear-gradient(180deg, rgb(105, 67, 255) 20%, rgb(47, 44, 233) 100%);
  background: linear-gradient(180deg, rgb(105, 67, 255) 20%, rgb(47, 44, 233) 100%);
  border-radius: 50px;
  padding: 10px 50px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: "HankenGrotesk", sans-serif;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(360deg, rgba(105, 67, 255, 0.123) 0%, rgba(13, 10, 146, 0.534) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reaction {
  border-radius: 10px;
  padding: 15px 0px;
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.05);
  display: grid;
}

.memory {
  border-radius: 10px;
  padding: 15px 0px;
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.05);
  display: grid;
}

.verbal {
  border-radius: 10px;
  padding: 15px 0px;
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.05);
  display: grid;
}

.visual {
  border-radius: 10px;
  padding: 15px 0px;
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.05);
  display: grid;
}

.result-number-darknavy {
  color: 303B59;
}

.result-number-gray {
  color: lightslategray;
}

.huge-number {
  font-family: "HankenGrotesk", sans-serif;
  font-weight: 800;
  color: white;
  font-size: 80px;
}

.small-number {
  font-family: "HankenGrotesk", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(202, 201, 255);
  line-height: 20px;
  padding-top: 40px;
}

.header-L {
  color: white;
  font-family: "HankenGrotesk", sans-serif;
  font-weight: 700;
  padding-top: 20px;
}

.header-M {
  color: rgb(202, 201, 255);
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
}

.paragraph {
  color: rgb(202, 201, 255);
  font-family: "HankenGrotesk", sans-serif;
  font-size: 18px;
}

.right-header {
  color: black;
  font-family: "HankenGrotesk", sans-serif;
  font-weight: bold;
  display: flex;
}

@media (min-device-width: 770px) {
  #containermobile {
    display: none;
  }
  body {
    background-color: #ECF2FF;
  }
}
@media (max-device-width: 769px) {
  #containerPC {
    display: none;
  }
  body {
    background-color: #ECF2FF;
  }
}/*# sourceMappingURL=index.css.map */