@import url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');

@font-face {
    font-family: 'HankenGrotesk';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
  }

$font-stack: 'HankenGrotesk', sans-serif;
$gradient: linear-gradient(180deg, rgba(105,67,255,1) 20%, rgba(47,44,233,1) 100%);
$invert-gradient: linear-gradient(360deg, rgba(105, 67, 255, 0.123) 0%, rgba(13, 10, 146, 0.534) 100%);
$left-text-color: rgb(202,201,255);
$right-header: black;
$right-rectangle: 10px;
$rectangle-pad: 20px 0px;

body {
    margin: 0;
    padding: 0;
  }

.section1 {
    background: rgb(105,67,255);
    background: linear-gradient(180deg, rgba(105,67,255,1) 20%, rgba(47,44,233,1) 100%);
    border-radius: 15px;
    padding: 30px;
}

.section2 {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px;
}

.rectangle {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.attribution { 
    padding-top: 20px;
    font-size: 14px; 
    text-align: center; 
    color: black;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    padding: 100px 0px;
    border-radius: 10px;
}

.background {
    background-color: #ECF2FF;
    height: 100vh;
}

.btn-continue {
    outline: solid 1px $gradient;
    background: $gradient;
    border-radius: 50px;
    padding: 10px 50px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: $font-stack;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $invert-gradient;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reaction {
   border-radius: $right-rectangle;
   font-weight: 500;
   padding: $rectangle-pad;
   color: hsla(0, 100%, 67%, 1);
   background-color: hsla(0, 100%, 67%, 0.05);
   display: flex;
}

.memory {
    border-radius: $right-rectangle;
    font-weight: 500;
    padding: $rectangle-pad;
    color: hsla(39, 100%, 56%, 1);
    background-color: hsla(39, 100%, 56%, 0.05);
    display: flex;
}

.verbal {
    border-radius: $right-rectangle;
    font-weight: 500;
    padding: $rectangle-pad;
    color: hsla(166, 100%, 37%, 1);
    background-color: hsla(166, 100%, 37%, 0.05);
    display: flex;
}

.visual {
    border-radius: $right-rectangle;
    font-weight: 500;
    padding: $rectangle-pad;
    color: hsla(234, 85%, 45%, 1);
    background-color: hsla(234, 85%, 45%, 0.05);
    display: flex;
}

.result-number-darknavy {
    color: #303B59;
    font-weight: bold;
    padding-right: 1%;
}

.result-number-gray {
    color: lightslategray
}

.summarynumber {
    display: flex;
    justify-content: right;
    align-items: center;
    transform: translateY(9px);
    transform: translateX(-120px);
}

.huge-number {
    font-family: $font-stack;
    font-weight: 800;
    color: white;
    font-size: 80px;
}

.small-number {
    font-family: $font-stack;
    font-weight: 500;
    font-size: 20px;
    color: $left-text-color;
    line-height: 20px;
    padding-top: 40px;
}

.header-L {
    color: white;
    font-family: $font-stack;
    font-weight: 700;
    padding-top: 20px;
}

.header-M {
    color: $left-text-color;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
}

.paragraph {
    color: $left-text-color;
    font-family: $font-stack;
    font-size: 18px;
}

.right-header {
    color: $right-header;
    font-family: $font-stack;
    font-weight: bold;
    display: flex;
}

@media (min-width: 0px) and (max-width: 576px) {
    body {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }

    .background {
        background-color: $gradient;
    }

    .container {
        border-radius: 10px;
        padding: 70px;
        height: 100vh;
    }

    .section1 {
        padding: 20px 50px;
        border-radius: 50px;
    }

    .rectangle {
        background-color: $gradient;
        border-radius: 50px;
        transform: scale(1.3);
    }

    .header-M {
        padding-top: 70px;
    }

    .right-header {
        color: $right-header;
        font-family: $font-stack;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

}
