$purple: #7755FF;

.section1 {
    background-color: $purple;
}

.section2 {
    background-color: white;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}